{% extends 'base.html' %}

{% block 'content' %}
<!-- <div class="divprincipal">
  <h1> Acerca de nosoatros. </h1>
  <p>Somos una una PYME desdicada al robro gastronomico.</p>
  <p>esta aplicacion permite revisar nuestros productos </p>
</div> -->

<div class="jumbotron">
  <h1 class="display-4">Bienvenido!</h1>
  <p class="lead">Gracias por visiatarnos somos el ONLYFLANS mas sabroso que existe en el mundo!.</p>
  <hr class="my-4">
  <p>Tenemos los unicos flanes que provocarán órganos sensoriales en tu lengua!.</p>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>
  
{% endblock %}