{% extends 'base.html' %}

{% block 'content' %}



<div style="    display: flex; padding: 40px;
    justify-content: space-around">
<div class="card" style="    width: 28rem;
    text-align: center;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Gracias por contactarte con OnlyFlans, te responderemos en breve.</h5>
    <!-- <p class="card-text">Gracias por contactarte con OnlyFlans, te responderemos en breve.</p> -->
     <br>
    <a href="/" class="btn btn-primary">Inicio</a>
  </div>
</div>
</div>
{% endblock %}