{% extends 'base.html' %}

{% load static %}
{% block 'content' %}
<div  style="display: flex; flex-wrap: wrap; justify-content: center;">
        {% for flan in flans_publicos %}
            <div style="padding: 10px;">
            <div class="card" style="width: 22rem;" >
              <img src= {{ flan.image_url }} class="card-img-top" alt="imagen" height="220px" >
              <div class="card-body">
                <h5 class="card-title">{{flan.name}}</h5>
                <p class="card-text">{{flan.description}}</p>
                <a href="{% url 'detalles' flan_uuid=flan.flan_uuid %}" class="btn btn-primary">Detalles</a>
              </div>
            </div>
          </div>
        {% endfor %}
</div>
{% endblock %}